<!-- Pricing table -->
<!-- Price details. Note down the class name before you edit. -->
<div class="row">

  <div class="span6">

    <!-- Pricing table #1. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <!-- Title -->
        <h4>Starter</h4>
      </div>
      <div class="phead-bottom">
        <!-- Price. Use the syntax correctly. -->
        <p><span class="pst">$</span> 4.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <!-- List -->
        <ul>
          <!-- List with tooltip. -->
          <li>1 GB Disk Space <a href="#" rel="tooltip" id="price-tip1" data-placement="top" data-original-title="something"><i class="icon-question-sign"></i></a> </li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <!-- Pricing table #2. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Basic</h4>
      </div>
      <div class="phead-bottom">
        <p><span class="pst">$</span> 8.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <ul>
          <li>1 GB Disk Space</li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="span6">

    <!-- Pricing table #3. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <h4>Business</h4>
      </div>
      <div class="phead-bottom">
        <p><span class="pst">$</span> 12.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <ul>
          <li>1 GB Disk Space</li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <!-- Pricing table #4. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Enterprise</h4>
      </div>
      <div class="phead-bottom">
        <p><span class="pst">$</span> 39.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <ul>
          <li>1 GB Disk Space</li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>
</div>
