<!-- Pricing table -->
<!-- Price details. Note down the class name before you edit. -->
<div class="row">

  <div class="span6">

    <!-- Pricing table #1. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <!-- Title -->
        <h4>Hottest</h4>
      </div>
      <div class="phead-bottom">
        <!-- Price. Use the syntax correctly. -->
        <p><span class="pst">$</span> 4.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <!-- List -->
        <ul>
          <!-- List with tooltip. -->
          <li>1 GB Disk Space <a href="#" rel="tooltip" id="price-tip1" data-placement="top" data-original-title="something"><i class="icon-question-sign"></i></a> </li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <!-- Pricing table #2. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Top Downloaded</h4>
      </div>
      <div class="phead-bottom">
        <p><span class="pst">$</span> 8.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <ul>
          <li>1 GB Disk Space</li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="span6">

    <!-- Pricing table #3. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <h4>New</h4>
      </div>
      <div class="phead-bottom">
        <p><span class="pst">$</span> 12.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <ul>
          <li>1 GB Disk Space</li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <!-- Pricing table #4. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Total Downloads</h4>
      </div>
      <div class="phead-bottom">
        <p><span class="pst">$</span> 39.99 <span class="psb">/m</span></p>
      </div>
      <div class="arrow-down"></div>
      <div class="plist">
        <ul>
          <li>1 GB Disk Space</li>
          <li>10 GB Data Transfer</li>
          <li>Single Domain</li>
          <li>10 Email Ids</li>
          <li>Top Notch Support</li>
          <li>Instant Activation</li>
        </ul>
      </div>
      <div class="pbutton button">
        <!-- button -->
        <a href="#">more</a>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>
</div>

<div class="cta">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="ctas">
          <!-- Title and Para -->
          <h5>Professional Product Ever Made in Internet</h5>
          <p>Sed diam nisi, pulvinar vitae molestie vitae molestie hendreri hendrerit, venenatis eget mauris.</p>
        </div>
      </div>
      <div class="span4">
        <div class="ctas">
          <!-- List -->
          <ul>
            <li>Very Cheap in Market. Check it today.</li>
            <li>Professional and Powerful. Don't miss it.</li>
            <li>1000% Guanrantee. No Worries. No Probs.</li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <div class="ctas">
          <a href="https://twitter.com/wpplugindex" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @wpplugindex</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>